{%extends "layout.html"%}
{%block content%}
<div class="text-center">
    <form action="{{ url_for('recommend')}}" method="post">
        <p>
        <label for="movie1">Irone Man</label>
        <input class="input-space" type="number" id="rcorners2" name="movie1" placeholder="Enter Rating"/>
        </p>
        <p>
        <label for="movie1">Irone Man</label>
        <input class="input-space" type="number" id="rcorners2" name="movie1" placeholder="Enter Rating">
        </p>
        <p>
        <label for="movie1">Irone Man</label>
        <input class="input-space" type="number" id="rcorners2" name="movie1" placeholder="Enter Rating">
        </p>
        <p>
        <label for="movie1">Irone Man</label>
        <input class="input-space" type="number" id="rcorners2" name="movie1" placeholder="Enter Rating">
        </p>
        <p>
        <label for="movie1">Irone Man</label>
        <input class="input-space" type="number" id="rcorners2" name="movie1" placeholder="Enter Rating">
        </p>
        <button type="submit">Recommend</button>
    </form>
</div>
<style>
    #rcorners2 {
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 20px;
  }
</style>
{%endblock content %}