{%extends "layout.html"%}
{%block content%}
<form action="{{ url_for('gfg')}}" method="post">
    <label for="movie1">Irone Man</label>
    <input class="input-space" type="number" id="movie1" name="movie1" placeholder="movie1">
    <p>
    <label for="movie1">Irone Man</label>
    <input class="input-space" type="number" id="movie1" name="movie1" placeholder="movie1">
    </p>
    <p>
    <label for="movie1">Irone Man</label>
    <input class="input-space" type="number" id="movie1" name="movie1" placeholder="movie1">
    </p>
    <p>
    <label for="movie1">Irone Man</label>
    <input class="input-space" type="number" id="movie1" name="movie1" placeholder="movie1">
    </p>
    <p>
    <label for="movie1">Irone Man</label>
    <input class="input-space" type="number" id="movie1" name="movie1" placeholder="movie1">
    </p>
    <button type="submit">Submit</button>
{%endblock content %}